* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    background: url('./assets/weather.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}